

<table>
<%# head %>
<thead>
   <tr>
      <th>id</th><th>firstname</th><th>lastname</th><th>company</th><th>salary</th>
   </tr>
</thead>

<%# body %>
<tbody>
   <% for (var i = 0; i < users.length; i++) { %>
    <tr>
      <td><%= users[i].id %></td>
      <td><%= users[i].firstname %></td>
      <td><%= users[i].lastname %></td>
      <td><%= users[i].company %></td>
      <td><%= users[i].salary %></td>
    </tr>    
   <% } %>
</tbody>
</table>