<%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HomeWork 1</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">About Me
                <i class="far fa-smile"></i>
                </a>
            </li>
            <li>
                <a href="/skill">Skill
                <i class="fas fa-file-code"></i>
                </a>
            </li>
            <li>
                <a href="/contact">Contact Me
                <i class="fas fa-file-code"></i>
                </a>
            </li>
            <li>
                <a href="/portflolio">Portfolio
                <i class="fas fa-code-branch"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>
</nav> %>