<div class="container">
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>role</th>
                    <th>salary</th>
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < user.length; i++) { %>
                        <tr>
                            <td>
                                <%= user[i].id %>
                            </td>
                            <td>
                                <%= user[i].firstname %>
                            </td>
                            <td>
                                <%= user[i].lastname %>
                            </td>
                            <td>
                                <%= user[i].role %>
                            </td>
                            <td>
                                <%= user[i].salary %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>
</div>