<h2 align="center">หาว่ามีใครบ้างที่ไม่ได้สอนอะไรเลย</h2>

<div class="container">
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>create at</th>
                    
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < instructor.length; i++) { %>
                        <tr>
                            <td>
                                <%= instructor[i].id %>
                            </td>
                            <td>
                                <%= instructor[i].name %>
                            </td>
                            <td>
                                <%= instructor[i].created_at %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>

    <br><br>

    <h2 align="center">หาว่ามีคอร์สไหนบ้างที่ไม่มีคนสอน </h2>

<div class="container">
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>create at</th>
                    
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < courses.length; i++) { %>
                        <tr>
                            <td>
                                <%= courses[i].id %>
                            </td>
                            <td>
                                <%= courses[i].name %>
                            </td>
                            <td>
                                <%= courses[i].price %>
                            </td>
                            <td>
                                <%= courses[i].created_at %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>


</div>