<div class="container">
    <div class="row">
        <% for (let i in detail) { %>
            <div class="col-md-3">
                <img src=/-/images/<%- detail[i].id %>></div>
                <%- detail[i].created_at %>
                <div class="text-block"> 
                <h4>Nature</h4>
                <p>What a beautiful sunrise</p>
                </div>
                

            <% } %>
    </div>
</div>