<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Pikkanode</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/signIn">sign in</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/signUp">sign up</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/create">upload</a>
    </li>

    
  </ul>

 
</nav>