<form method="POST">
Login
username: <input name="email"><br>
password: <input type="password" name="password"><br>
confirm password: <input type="password" name="password2"><br>
<button>Sign up</button>
</form>
