<h2 align="center" >Staff Table</h2>

<!-- <div class="container">
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>age</th>
                    <th>create date</th>
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < staff.length; i++) { %>
                        <tr>
                            <td>
                                <%= staff[i].id %>
                            </td>
                            <td>
                                <%= staff[i].firstname %>
                            </td>
                            <td>
                                <%= staff[i].lastname %>
                            </td>
                            <td>
                                <%= staff[i].age %>
                            </td>
                            <td>
                                <%= staff[i].create_date %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>
</div> -->