<div class="container">
    <div class="row">
        <% for (let i in detail) { %>

            <div class="col-md-3">
                <img src=/-/images/<%- detail[i].id %>></div>

            <% } %>
    </div>


</div>