<script>
    data = [
      {
          "id":1001,
          "firstname":"Luke",
          "lastname":"Skywalker",
          "company":"Walt Disney",
          "salary":40000
      },
      {
          "id":1002,
          "firstname":"Tony",
          "lastname":"Stark",
          "company":"Marvel",
          "salary":1000000
      },
      {
          "id":1003,
          "firstname":"Somchai",
          "lastname":"Jaidee",
          "company":"Love2work",
          "salary":20000
      },
      {
          "id":1004,
          "firstname":"Monkey D",
          "lastname":"Luffy",
          "company":"One Piece",
          "salary":9000000
      }
    ]
    </script>
    <table>
    <%# head %>
       <tr>
          <th>id</th><th>firstname</th><th>lastname</th><th>company</th><th>salary</th>
       </tr>
    
    <%# body %>
       <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].firstname %></td>
          <td><%= data[i].lastname %></td>
          <td><%= data[i].company %></td>
          <td><%= data[i].salary %></td>
        </tr>    
       <% } %>
    </table>