<div class="container">


    <h1 align="center">Contact Me
      <i style="color: darkcyan" class="fas fa-child"></i>
      <br>
    </h1>
    <br>
    <table>
      <tr>
        <td>
          <strong>
            <i class="fas fa-mobile"></i>&nbsp;Phone </strong>
        </td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;095-549-9201</td>
      </tr>

      <tr>
        <td>
          <strong>
            <i class="fas fa-envelope"></i>&nbsp;Email </strong>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;Gap.kridtanan@gmail.com</td>
      </tr>

      <tr>
        <td>
          <strong>
            <i class="fab fa-line"></i> &nbsp;Line </strong>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;GAP7829</td>
      </tr>

      <tr>
        <td>
          <strong>
            <i class="fab fa-facebook-square"></i>&nbsp;Website </strong>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.facebook.com/gap.kridtanan"> https://www.facebook.com/gap.kridtanan</a></td>
      </tr>

      <tr>
        <td>
          <strong>
            <i class="fas fa-location-arrow"></i>&nbsp;Address </strong>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;125/210 sorpor srisaman condo tumbol.banmai aumphur.pakkred nonthaburi 11120</td>
      </tr>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br><br>



  </div>