<div class="container">
    <h1 style="text-align: center ; color: blueviolet;">About Me</h1>
    <br>
    <div align="center">
      <img src="images\profilePic.jpg" height="200px">

      <br>

      <h2>
        <strong>Education</strong>
        </h3>
        <br>
        <img src="http://upload.wikimedia.org/wikipedia/th/thumb/0/01/Prommanusorn.JPG/300px-Prommanusorn.JPG" alt="" width="7%">
        <p>
          <strong>Prommanusorn Phetchaburi School</strong>
        </p>
        <p>2008 - 2013</p>
        <br>
        <br>
        <br>
        <img src="http://logosandbrands.directory/wp-content/themes/directorypress/thumbs/Kasetsart-University-logo.gif" alt="" width="8%">
        <br>
        <p>
          <strong>Kasetsart University </strong>
        </p>
        <p>2014 - 2018</p>

    </div>
  </div>