<div class="container">
  <br>
  <div class="row" align="center">
    <div id="custom-search-input">
      <h3>My Application</h3>
      <div class="input-group col-md-8">
        <input type="text" class="  search-query form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-info" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      
    </div>
  
</div>

<table>
  <tr align="center">
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%">&nbsp;&nbsp; onepiece ldkf;adsfka</td>
    <br>
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%"> &nbsp;&nbsp;onepiece ldkf;adsfka</td>
  </tr>

  <tr align="center">
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%"> &nbsp;&nbsp;onepiece ldkf;adsfka</td>
    <br>
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%"> &nbsp;&nbsp;onepiece ldkf;adsfka</td>
  </tr>

  <tr align="center">
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%"> &nbsp;&nbsp;onepiece ldkf;adsfka</td>
    <br>
    <td>
      <img src="images\ww.jpg" alt="" style="float: left;" width="40%"> &nbsp;&nbsp;onepiece ldkf;adsfka</td>
  </tr>
</table>
</div>

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }

  th,
  td {
    padding: 30px;
  }
</style>