<div>
<div class="container">
    <br>
   
        <h1>Skill  <span style="color: blue;" class="glyphicon glyphicon-thumbs-up"></span></h1>
        <ul>
            <li>JavaScript</li>
            <li>html</li>
            <li>mySQL</li>
            <li>Node.JS</li>
            <li>Koa</li>
            <li>Cloud deployment</li>
            <li>JSP</li>
            <li>CSS</li>
            <li>Algorithm Data Structure</li>
        </ul>
</div>
<br><br><br><br><br><br><br>
</div>
