<h2 align="center">หาว่าจากคอร์สที่มีคนเรียนทั้งหมด ได้เงินเท่าไร</h2>

<div class="container">
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>course id</th>
                    <th>course name</th>
                    <th>price</th>
                    
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < t1.length; i++) { %>
                        <tr>
                            <td>
                                <%= t1[i].course_id %>
                            </td>
                            <td>
                                <%= t1[i].name %>
                            </td>
                            <td>
                                <%= t1[i].price %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>

    <br><br>


    <h2 align="center">นักเรียนแต่ละคน ซื้อคอร์สไปคนละเท่าไร</h2>
    <table class="table table-hover table-dark">
        <%# head %>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>FullName</th>
                    <th>คอร์สที่ลง</th>
                    <th>ชื่อคอร์สที่ลง</th>
                    <th>ราคารวมคอร์สที่ลง</th>
                </tr>
            </thead>

            <%# body %>
                <tbody>
                    <% for (let i = 0; i < t2.length; i++) { %>
                        <tr>
                            <td>
                                <%= t2[i].id %>
                            </td>
                            <td>
                                <%= t2[i].full_name %>
                            </td>
                            <td>
                                <%= t2[i].course_id %>
                            </td>
                            <td>
                                <%= t2[i].course_name %>
                            </td>
                            <td>
                                <%= t2[i].sum_price %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
    </table>
    


</div>